.dashboard-section-grid{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 40px;
}
.dashboard-page {
  padding-bottom: 50px; 
}

.form-heading{
  font-weight: 700;
  font-size: 2rem;
   margin: 0 0 24px;
  color: #000;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:  15px;
}
.inp-catgenerator{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}