
.books-container {
  width: 100%;
  margin: 0 auto 30px;
}

.explore-heading{
  margin: 0 0 24px;
}
.ep-title{
    font-weight: 700;
  font-size: 2.5rem;
  color: #333;
  text-transform: uppercase;
  margin-top: 0;
   margin-bottom: 0;
}
.books-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
grid-auto-rows: min-content;  gap: 40px 20px;
  width: 100%;
  align-items: start;
}

.book-card {
  display: flex;
  flex-direction: column;
  background: transparent;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  height: 300px;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: #f0f0f0;
}

.book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.book-card:hover .book-image {
  transform: scale(1.08);
}

.book-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-title {
  font-size: 0.9rem !important;
  font-weight: 600;
  margin: 8px 0 4px 0  !important;
  color: #222;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.book-author {
  font-size: 12px;
  color: #666;
  opacity: 0.8;
  margin: 0;
  font-weight: 500;
}