

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     background: var(--background-color);
}
section{
    background: var(--background-color);
    margin:  0 ;
}
.layout-content{
   background-color:var(--background-color) 
}