.mybooks-page {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.mb-loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mb-title{
    font-weight: 700;
  font-size: 2.5rem;
  color: #333;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.mb-book-card {
  width: 240px;
  height: 380px;
  display: flex;
  flex-direction: column;
  border-radius: 12px !important;
  border: 1px solid #edf2f7 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03) !important;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden; 
}

.mb-book-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08) !important;
  border-color: #5eb3f6 !important;
}

.mb-card-media {
  height: 250px; 
  width: 100%;
  object-fit: cover; 
  background-color: #f8fafc;
}

.mb-card-content {
  padding: 15px ;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mb-title-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
 
  font-weight: 700 !important;
  color: #434a57;
margin: 0;
 margin-bottom: 4px !important;
  font-size: 0.9rem;
}
.mb-location{
  margin: 0 !important;
  padding: 0;
  font-size: 0.7rem;
  font-weight: 600;
  color: #718096;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mb-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem !important;
  border-radius: 16px !important;
  background-color: #ffffff !important;
  text-align: center;
}

/* Dialog Styling */
.MuiDialog-paper {
  border-radius: 16px !important;
  padding: 8px;
}